.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
  */
  margin: 0 auto;  
  width: 720px;
}

.content {
  font-family: serif;
}

.container h1 {
  border-bottom: 2px solid #ccc;
  font-family: sans-serif;
  line-height: 60px;
  text-align: auto;
}

.container h2 {
  font-family: sans-serif;
}

section p {
  letter-spacing: 1px;
  word-spacing: 4px;
}

blockquote {
  font-style: italic;
}

small.page_no {
  float: right;
  color: #ddd;
}

.pagination {
  background-color: #eee;
  margin: 10px 0px;
}

.pagination a {
  color: #222;
  text-decoration: none;
}

.pagination a.disabled {
  color: #ccc;
}
